@media screen and (max-width:768px) {
    .header .link {
        display: none;
    }

    .header .menu {
        display: block;
    }

    .card-big,
    .container-small {
        flex-direction: column;
    }

    .col-medium {
        width: 100%;
    }

    #benefit .card {
        width: calc(100% / 2 - 1rem);
    }
}

@media screen and (max-width:480px) {
    .container:not(.container.header) {
        flex-direction: column;
    }

    .card-big {
        width: 100%;
    }

    .col-big {
        width: 100%;
    }

    .col-small {
        width: 100%;
    }

    .card {
        width: 100%;
    }

    .container-small {
        flex-direction: column;
    }

    .testimonial {
        flex-direction: column;
        text-align: center;
    }

    #benefit .card {
        width: 100%;
    }

}