@media screen and (max-width:768px) {
    .header .link {
        display: none;
    }

    .header .menu {
        display: block;
    }

    .card-big {
        flex-direction: column;
    }

    .col-medium {
        width: 100%;
    }
}

@media screen and (max-width:480px) {
    .container:not(.container.header) {
        flex-direction: column;
    }

    .card-big {
        width: 100%;
    }

    .card {
        width: 100%;
    }

    .container-small {
        flex-direction: column;
    }

}