/* Generics */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    text-decoration: none;
    padding: .5rem 1rem;
    background: white;
    display: block;
    width: fit-content;
    border: 1px solid transparent;
}

.container {
    flex-wrap: wrap;
    gap: var(--gap);
}

.col-medium {
    width: calc(100% / 2);
    padding: 0 1rem;
    /* debug */
    /* height: 250px; */
}

.card-big {
    width: calc(100% / 3 * 2 - 10px);
    background-color: aqua;
    padding-top: 2rem;
}

.card {
    width: calc(100% / 3 - 20px);
    background-color: red;
    padding: 0 1rem;
    padding-top: 2rem;
}

/* HEADER */
header {
    background-color: var(--blue);
    position: fixed;
    z-index: 1;
    width: 100%;
}

.header {
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

#logo img {
    height: 60%;
    vertical-align: middle;
}

/* BURGER MENù */
.header .menu {
    display: none;
}

/* EXTENDED MENù */
.link {
    align-items: center;
}

.link a {
    text-decoration: none;
    color: white;
    padding: 0 .5rem;
}

.link .btn {
    color: black;
}

.link ul li {
    display: inline-block;
    cursor: pointer;
}

/* MAIN */
#overview {
    padding-top: 4rem;
    /* debug  */
    background-color: antiquewhite;
    /* height: 600px; */
}

/* planning */
#planning {
    background-color: var(--violet);
    color: white;
}

/* development */
.development {
    padding: 0 2rem;
}

.development div {
    background-color: white;
    color: black;
    padding: 2rem;
    align-self: flex-end;
}

.development img {
    width: 50%;
}

.development button {
    width: 30px;
    aspect-ratio: 1;
    border: 1px solid transparent;
    background-color: var(--violet);
}

/* partners */
.partners {
    background-color: var(--violet);
    margin-bottom: 1rem;
    padding: 1rem;
    align-items: center;
    flex-shrink: 0;
}

.partners .profile {
    width: 150px;
}

.partners .motto {
    padding: 0.5rem 2rem;
    line-height: 1.5rem;
    color: white;
    /* background-color: antiquewhite; */
}

.profile img {
    object-fit: cover;
    width: 150px;
    aspect-ratio: 1;
}

/* benefit */
#benefit {
    background-color: var(--violet);
}

#benefit .btn {
    color: white;
    background-color: var(--violet);
    padding: 0.4rem 2rem;
    margin: 1rem 0;
}

#benefit .row {
    flex-wrap: wrap;
    gap: 1rem;
}

#benefit .card {
    width: calc(100% / 3 - 0.7rem);
    background-color: white;
}

#benefit .big-numbers {
    color: var(--violet);
    font-size: 4rem;
    font-weight: bold;
}

#benefit h4 {
    color: var(--violet);
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1rem 0;
}

/* FOOTER */
footer {
    background-color: var(--black);
    /* padding: var(--ps); */
}