/* Utils */

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 2rem;
}

.container-small {
	max-width: 900px;
	margin: 0 auto;
	padding: 2rem;
}

.container-mini {
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
	padding: 0 2rem;
}

.clearfix::after {
	content: '';
	clear: both;
	display: table;
}

.d-flex {
	display: flex;
}

.text-center {
	text-align: center;
}

/* VARIABLES */
:root {
	--violet: #9792e2;
	--black: #323232;
	--lightblue: #b5dcfe;
	--blue: #0e84fb;
	--yellow: #fcc061;
	--ps: 2px 10px;
	--gap: 30px;
}

/* BORDER RADIUS */
.br1 {
	border-radius: 10px;
}

.br2 {
	border-radius: 20px;
}

.br3 {
	border-radius: 30px;
}

.br4 {
	border-radius: 40px;
}

.br-circle {
	border-radius: 50%;
}